<%- include("header.ejs"); -%>
  <div class="box" id="heading">
    <h1><%= dayName %></h1>
  </div>
  <div class="box">
    <% for(var i = 1; i < listItems.length; i++){  %>
    <div class="item">
      <form action="/delete" method="post">
      <input type="checkbox" name="CheckBox" value="<%= listItems[i].name %>" onChange="this.form.submit()">
      <input type="hidden" name="listName" value="<%= param %>">
      <p><%= listItems[i].name %></p>
      </form>
    </div>
    <% } %>
    <form class="item styleForm" action="<%= "/"+param %>" method="post">
      <input type="text" name="inputItem" placeholder="New Item">
      <button class="addItem" type="submit" name="ButtonPress" value="item add home">+</button>
    </form>
  </div>
  <div class="">
    <form class="styleForm" action="<%= "/"+param %>" method="post">
      <button class="btn btn-danger" type="submit" name="ButtonPress" value="removeAll">Remove All</button>
    </form>
  </div>
<%- include("footer.ejs"); -%>
